section{
    margin: 20px 0;
    padding: 0 20px;
    p{
        color: $dark-grey;
        font-size: $font-size-regular;
        a{
            color: $green;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }//end :hover
        }//end a
    }//end p
}//end section