%btn{
    display: inline-block;
    border: solid 2px $green;
    padding: 5px;
    background-color: $white;
    color: $green;
    font-size: $font-size-big;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    &:hover{
        background-color: $green;
        color: $white;
    }
}

.button a{
    @extend %btn;
border-radius: 5px;
}
.buttonGroup{
    font-size: 0;
    a{
        @extend %btn;
    }//end a
    li:first-child a{
        border-radius: 5px 0 0 5px;
    }
    li:last-child a{
        border-radius: 0 5px 5px 0;
    }
}//end buttonGroup

