//sass colors as defined on http://sass-lang.com/styleguide/color

$hopbush: #C69;
$bouquet: #B37399;
$venus: #998099;
$patina: #699;
$nebula: #D2E1DD;
$white: #FFF;
$dawn-pink: #F2ECE4;
$wafer: #E1D7D2;
$black: #000;
$iron: #DADBDF;
$regent-grey: #808C99;
$pale-sky: #6B717F;
$midnight-blue: #036;

$color-shadow: rgba($black, .125);
$color-primary:	$hopbush;
$color-accent: $patina;
$color-background: $white;
$color-background-shade: $iron;
$color-background-invert: $hopbush;
$color-background-footer: $midnight-blue;
$color-text: darken($pale-sky, 15);
$color-text-weak: $regent-grey;
$color-text-strong: $midnight-blue;
$color-text-heading: $regent-grey;
$color-text-invert: rgba($color-background, .75);
$color-text-strong-invert: $color-background;
$color-text-link: $color-primary;
$color-text-link-visited: $bouquet;
$color-text-link-hove: $midnight-blue;
$color-border: $iron;

//sass Typography as defined on http://sass-lang.com/styleguide/typography
//font families
$font-family-text: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-display: source-serif-pro, Georgia, "Times New Roman", Times, serif;
$font-family-code: source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

//Weights
$font-weight-light:300;
$font-weight-regular: 400;
$font-weight-bold: 600;

//sizes

$font-size-regular: 1rem;
$font-size-small: $font-size-regular * 0.75;
$font-size-large: $font-size-small * 2;
$font-size-x-large: $font-size-regular * 2;
$font-size-xx-large: $font-size-large * 2;
$font-size-xxx-large: $font-size-x-large * 2;
$font-size-xxxx-large: $font-size-xx-large * 2;

//sass breakpoints as defined on http://sass-lang.com/styleguide/layout

$breakpoints: (
    mobile-small: 240px,
    mobile-large: 320px,
    tablet-small: 480px,
    tablet-large: 768px,
    screen-small: 1024px,
    screen-large: 1280px
)